.panelState {
  pointer-events: none;
}

.panelState[hidden] {
  display: block;
}

.panelState:popover-open {
  pointer-events: auto;
}

.overlayState {
  opacity: 0;
  transition: opacity 0.35s ease-in-out;
}

.panelState:popover-open .overlayState {
  opacity: 1;
}

.contentState {
  transform: translateX(100%);
  transition: transform 0.35s ease-in-out;
}

.panelState:popover-open .contentState {
  transform: translateX(0);
}
